<div id="content_header361">
	<h1 id="main_heading" style="color: darkred;">Edit Record</h1>

	<div id="app-back-button">
		<%= link_to image_tag("back.png",:border => 0), 'javascript:history.go(-1);' %>
	</div>

</div>


<%= render 'form' %>


