<div class="jumbotron center">
  <h1>Welcome to FOOTLOOSE</h1>
  <h2>Office Management System</h2>
  <p><%= link_to "View Statement Here...", amol361s_path, class: "btn btn-success btn-lg" %></p>
</div>
